body {
    font-family: Pretendard, sans-serif;
}

#languageContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

#labelLanguage{
    color: gray;
    font-size: .9em;
    font-weight: 300;
}

.basic-info h1 {
    font-size: 36px;
}

.basic-info h6 {
    font-size: .8rem;
    font-weight: 400;
}

#userTitle {
    font-weight: 200;
}

.rounded-box {
    border: 1px solid #ccc;  /* 테두리 색상 */
    padding: 15px;  /* 안쪽 여백 */
    border-radius: 10px;  /* 둥근 모서리 반경 */
}
  
#introduction {
    font-size: 0.9em;  /* 글씨 크기를 현재보다 작게 */
}
  
.education-info h2,
.skill-info h2,
.career-info h2 {
    font-size: 28px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#educationList {
    padding-left: 0;
}

ul {
    list-style: none;
}

.career-item h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.project-item h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

.school-item {
    margin-bottom: 10px;
}

.toggle-icon {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;  /* 아이콘의 너비를 고정 */
    text-align: center;  /* 아이콘 내용을 중앙 정렬 */
    margin-top: -41px;
    font-size: .8em;
    color: gray;
}

.school-info {
    display: inline-block;
    vertical-align: middle;
}

.school-name {
    display: block;  /* 또는 display: inline-block; */
}

.school-date-info {
    color: gray;
    font-size: .8em;
}

#school-description {
    font-size: .85em;
    margin-left: 20px;
    color: #727272;
}

.school-description ul {
    list-style-type: disc;
}

#skillDetails-container {
    font-size: .75em;
}

#skillDetails-container ul {
    padding-left: 10px;
}

.progress-bar {
    background-color: #84b5ff;
}