body {
    font-family: Pretendard, sans-serif;
}

#languageContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

#labelLanguage{
    color: #464545;
    font-size: .9em;
    font-weight: 300;
}

.basic-info h1 {
    font-size: 36px;
    font-weight: 900;
}

.basic-info h6 {
    font-size: .8rem;
    font-weight: 400;
}

#userTitle {
    font-weight: 200;
}

.rounded-box {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
  
#introduction {
    font-size: 0.85em;
    font-weight: 300;
    color: dimgray;
}

#introduction h3 {
    font-size: 17px;
}

.education-info h2,
.skill-info h2,
.career-info h2 {
    font-size: 28px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#educationList {
    padding-left: 0;
}

ul {
    list-style: none;
}

.school-item {
    margin-bottom: 10px;
}

.toggle-icon {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;  /* 아이콘의 너비를 고정 */
    text-align: center;  /* 아이콘 내용을 중앙 정렬 */
    margin-top: -41px;
    font-size: .8em;
    color: gray;
}

.school-info {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.school-name {
    display: block;  /* 또는 display: inline-block; */
}

.school-date-info {
    color: gray;
    font-size: .8em;
}

#school-description {
    font-size: .75em;
    font-weight: 300;
    margin-left: 5px;
    color: #000000;
}

.school-description ul {
    list-style-type: disc;
}

#skillDetails-container {
    font-size: .75em;
}

#skillDetails-container ul {
    padding-left: 10px;
}

.progress {
    background-color: #f0f1f3;
    margin-bottom: 10px;
    border-radius: 10px;
}

.progress-bar {
    background-image: linear-gradient(to right, #b9c9e2, #7b90cd);
    border-radius: 10px;
}

.skill-item {
    position: relative;
    max-width: 550px;
}

.skill-name {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
    color: #08307c;
    padding: 0 10px;
    font-weight: 300;
}

.tooltip-inner {
    max-width: 300px;
    font-size: .8em;
    text-align: left;
}

.career-item, #personalProjectList {
    background-color: #ecebeb;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.company-info-container {
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #dad6d6;
    background-color: #808080;
    color: white;
}

#company-name-department {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    padding: 10px 10px 0px 10px;
}

.company-date-position-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px 0 10px;
}

#company-position, #project-sub-type {
    font-size: 13px;
    margin-bottom: 0;
}

#company-date {
    font-size: 10px;
    margin-bottom: 0;
}

#project-date {
    font-size: 10px;
    color: #606060;
    margin-bottom: 0;
}

.project-info-container {
    margin-top: 15px;
}

.project-item, .personal-project-item {
    border-bottom: 1px solid #dad6d6;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.project-sub-type-date-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#project-name {
    margin-top: 10px;
    font-weight: 800;
}

#project-summary {
    font-size: .8em;
    color: gray;
}

#project-role-title, #project-issue-title {
    margin-bottom: 5px;
    font-size: .9em;
}

#project-role-description {
    font-size: .8em;
}

#project-role-description ul, #introduction ul, #project-issue-description ul {
    list-style-type: disc;
    padding-left: 15px;
}

#project-issue-description {
    font-size: .8em;
}

#project-issue-description p {
    margin-bottom: 0;
}