<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/variable/pretendardvariable-dynamic-subset.css" />

    <title>{{ info.user.first_name_eng }} 포트폴리오</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ruo_portfolio.css') }}">
</head>
<body>
    <div class="container mt-5">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="languageSwitch">
            <label class="form-check-label" for="languageSwitch" id="labelLanguage">English</label>
        </div>

        <!-- Basic Info -->
        <div class="basic-info">
            <h1 id="fullName" data-eng="{{ info.user.first_name_eng }} {{ info.user.last_name_eng }}" data-kor="{{ info.user.last_name_kor }}{{ info.user.first_name_kor }}">
                {{ info.user.first_name_eng }} {{ info.user.last_name_eng }}
            </h1>

            <hr>

            <h2 id="jobTitle" data-eng="{{ info.user.job_title_eng }}" data-kor="{{ info.user.job_title_kor }}">
                {{ info.user.job_title_eng }}
            </h2>

            <h6 id="email">
                <i class="fas fa-envelope"></i> <a href="mailto:{{ info.user.email }}">{{ info.user.email }}</a>
            </h6>
                        
            <h6 id="phone">
                <i class="fas fa-phone-alt"></i> {{ info.user.phone }}
            </h6>
                        
            <h6 id="github">
                <i class="fab fa-github"></i> <a href="{{ info.user.github }}">{{ info.user.github }}</a>
            </h6>
                        
            <h6 id="linkedin">
                <i class="fab fa-linkedin"></i> <a href="{{ info.user.linkedin }}">{{ info.user.linkedin }}</a>
            </h6>
                        
            <h6 id="address" data-eng='<i class="fas fa-map-marker-alt"></i> {{ info.user.address_eng }}' data-kor='<i class="fas fa-map-marker-alt"></i> {{ info.user.address_kor }}'>
                <i class="fas fa-map-marker-alt"></i> {{ info.user.address_eng }}
            </h6>
            
            <hr>

            <div class="rounded-box">
                <p id="introduction" data-eng="{{ info.user.introduction_eng }}" data-kor="{{ info.user.introduction_kor }}">
                    {{ info.user.introduction_eng }}
                </p>
            </div>

            <!-- Other user fields... -->
        </div>

        <!-- Education Info -->
        <div class="education-info mt-5">
            <h2 id="educationTitle" data-eng="Education" data-kor="교육">
                Education
            </h2>
            <ul id="educationList">
            {% for edu in info.educations %}
            <li class="school-item">
                <span class="toggle-icon">▶</span>
                <span id="school-info" class="school-info" data-eng="{{ edu.school_name_eng }} - {{ edu.degree_eng }} | {{ edu.major_eng }} | {{ edu.start_date }} ~ {{ edu.end_date }}" data-kor="{{ edu.school_name_kor }} - {{ edu.degree_kor }}  | {{ edu.major_kor }} | {{ edu.start_date }} ~ {{ edu.end_date }}">
                  {{ edu.school_name_eng }} - {{ edu.degree_eng }} | {{ edu.major_eng }} | {{ edu.start_date }} ~ {{ edu.end_date }}
                </span>
                <div id="school-description" class="school-description" data-eng="{{ edu.description_eng }}" data-kor="{{ edu.description_kor }}" style="display: none;">
                  {{ edu.description_eng }}
                </div>
              </li>
            {% endfor %}
            </ul>
        </div>

        <!-- Skill Info -->
        <div class="skill-info mt-5">
            <h2 id="skillTitle" data-eng="Skills" data-kor="기술스택">Skills</h2>
            <ul id="skillList">
            {% for skill in info.skills %}
                <li data-eng="{{ skill.skill_name_eng }} - {{ skill.skill_level }}" data-kor="{{ skill.skill_name_kor }} - {{ skill.skill_level }}">
                    {{ skill.skill_name_eng }} - {{ skill.skill_level }}
                </li>
            {% endfor %}
            </ul>
        </div>

        <!-- Career Info -->
        <div class="career-info mt-5">
            <h2 id="careerTitle" data-eng="Projects" data-kor="프로젝트">Projects</h2>
            <div id="careerList">
            {% for career in info.careers %}
                <div class="career-item">
                    <h3 data-eng="{{ career.company_name_eng }}" data-kor="{{ career.company_name_kor }}">
                        {{ career.company_name_eng }}
                    </h3>
                    <div class="projects">
                        {% for project in career.projects %}
                            <div class="project-item">
                                <h4 data-eng="{{ project.project_name_eng }}" data-kor="{{ project.project_name_kor }}">
                                    {{ project.project_name_eng }}
                                </h4>
                                <!-- Other project fields... -->
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

        <hr>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/ruo_portfolio.js') }}"></script>
</body>
</html>
