<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/variable/pretendardvariable-dynamic-subset.css" />

    <title>{{ info.user.first_name_eng }} 포트폴리오</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ruo_portfolio.css') }}">
</head>
<body>
    <div class="container mt-5">
        <div class="form-check form-switch" id="languageContainer">
            <input class="form-check-input" type="checkbox" id="languageSwitch">
            <label class="form-check-label" for="languageSwitch" id="labelLanguage">
                <i class="fas fa-globe"></i> KOR
            </label>
        </div>

        <!-- Basic Info -->
        <div class="basic-info">
            <h1 id="fullName" data-eng="{{ info.user.first_name_eng }} {{ info.user.last_name_eng }}" data-kor="{{ info.user.last_name_kor }}{{ info.user.first_name_kor }}">
                {{ info.user.first_name_eng }} {{ info.user.last_name_eng }}
            </h1>
            <h3 id="userTitle" data-eng="{{ info.user.title_eng }}" data-kor="{{ info.user.title_kor }}"> {{ info.user.title_eng }}</h3>

            <hr>

            <h6 id="email">
                <i class="fas fa-envelope"></i> <a href="mailto:{{ info.user.email }}">{{ info.user.email }}</a>
            </h6>
                        
            <h6 id="phone">
                <i class="fas fa-phone-alt"></i> {{ info.user.phone }}
            </h6>
                        
            <h6 id="github">
                <i class="fab fa-github"></i> <a href="{{ info.user.github }}">GitHub</a>
            </h6>
                        
            <h6 id="linkedin">
                <i class="fab fa-linkedin"></i> <a href="{{ info.user.linkedin }}">LinkedIn</a>
            </h6>
                        
            <h6 id="address" data-eng='<i class="fas fa-map-marker-alt"></i> {{ info.user.address_eng }}' data-kor='<i class="fas fa-map-marker-alt"></i> {{ info.user.address_kor }}'>
                <i class="fas fa-map-marker-alt"></i> {{ info.user.address_eng }}
            </h6>
            
            <hr>

            <div class="rounded-box" id="introduction" data-eng="{{ info.user.introduction_eng }}" data-kor="{{ info.user.introduction_kor }}">
                {{ info.user.introduction_eng }}
            </div>

            <!-- Other user fields... -->
        </div>

        <!-- Education Info -->
        <div class="education-info mt-5">
            <h2 id="educationTitle" data-eng="Education" data-kor="교육">
                Education
            </h2>
            <ul id="educationList">
            {% for edu in info.educations %}
            <li class="school-item">
                <div class="toggle-icon-wrapper">
                    <span>
                        <i class="fa fa-chevron-right toggle-icon"></i>
                    </span>
    
                    <span id="school-info" class="school-info">
                        <div class="school-main-info" data-eng="<strong class='school-name'>{{ edu.school_name_eng }}</strong> {{ edu.degree_eng }} | {{ edu.major_eng }}" data-kor="<strong class='school-name'>{{ edu.school_name_kor }}</strong> {{ edu.degree_kor }}  | {{ edu.major_kor }}">
                            <strong class='school-name'>{{ edu.school_name_eng }}</strong> {{ edu.degree_eng }} | {{ edu.major_eng }}
                        </div>
    
                        <div class="school-date-info">
                            {{ edu.start_date }} ~ {{ edu.end_date }}
                        </div>
                    </span>
                </div>

                <div id="school-description" class="school-description" data-eng="{{ edu.description_eng }}" data-kor="{{ edu.description_kor }}" style="display: none;">
                {{ edu.description_eng }}
                </div>
            </li>
            {% endfor %}
            </ul>
        </div>

        <!-- Skill Info -->
        <div class="skill-info mt-5">
            <h2 id="skillTitle" data-eng="Skills" data-kor="기술스택">Skills</h2>
            <div id="skillDetails-container">
                {% for skill_type_eng, skills in info.skills_by_type.items() %}
                <h6 id="skillType" data-eng="{{ skill_type_eng }}" data-kor="{{ skills[0].skill_type_kor }}">{{ skill_type_eng }}</h6>
                    <ul id="skillList-{{ skill_type_eng }}">
                        {% for skill in skills %}
                            <li class="no-toggle skill-item"  data-bs-toggle="tooltip" data-bs-placement="top" data-eng="{{ skill.description_eng }}" data-kor="{{ skill.description_kor }}" title="{{ skill.description_eng }}">
                                <div class="skill-name"
                                    data-eng="<strong>{{ skill.skill_name_eng }} | {{ skill.experience_eng }}</strong> (tab to see description)"
                                    data-kor="<strong>{{ skill.skill_name_kor }} | {{ skill.experience_kor }}</strong> (탭해서 설명보기)">
                                    <strong>{{ skill.skill_name_eng }} | {{ skill.experience_eng }}</strong> (tab to see description)
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{ skill.skill_level * 20 }}%" aria-valuenow="{{ skill.skill_level }}" aria-valuemin="0" aria-valuemax="5"></div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>

        <!-- Career Info -->
        <div class="career-info mt-5">
            <h2 id="careerTitle" data-eng="Projects" data-kor="프로젝트">Projects</h2>
            
            <!-- 탭 메뉴 추가 -->
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" id="corporate-tab" data-bs-toggle="tab" href="#corporate" role="tab" aria-controls="corporate" aria-selected="true" data-eng="Corporate Projects" data-kor="사내 프로젝트">Corporate Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="personal-tab" data-bs-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="false" data-eng="Personal Projects" data-kor="개인 프로젝트">Personal Projects</a>
                </li>
            </ul>

            <!-- 탭 내용 -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="corporate">
                    <div id="careerList">
                    {% for career in info.careers %}
                        <div class="career-item">
                            <div class="company-info-container">
                                <p id="company-name-department" data-eng="<strong id='company-name'>{{ career.company_name_eng }}</strong> | {{ career.department_eng }}" 
                                    data-kor="<strong id='company-name'>{{ career.company_name_kor }}</strong> | {{ career.department_kor }}">
                                    <strong class="company-name">{{ career.company_name_eng }}</strong> | {{ career.department_eng }}
                                </p>
                                <div class="company-date-position-container">
                                    <p id="company-position" data-eng="{{ career.position_eng }}" data-kor="{{ career.position_kor }}">
                                        {{ career.position_eng }}
                                    </p>
                                    <p id="company-date">
                                        {{ career.start_date }} ~ {{ career.end_date }}
                                    </p>
                                </div>
                            </div>
                            <div class="project-info-container">
                                {% for project in career.projects %}
                                    <div class="project-item">
                                        <div class="project-sub-type-date-container">
                                            <p id="project-sub-type" data-eng="{{ project.project_sub_type_eng }}" data-kor="{{ project.project_sub_type_kor }}">
                                                {{ project.project_sub_type_eng }}
                                            </p>
                                            <p id="project-date">
                                                {{ project.start_date }} ~ {{ project.end_date }}
                                            </p>
                                        </div>
                                        <h6 id="project-name" data-eng="{{ project.project_name_eng }}" data-kor="{{ project.project_name_kor }}">
                                            {{ project.project_name_eng }}
                                        </h6>
                                        <p id="project-summary" data-eng="{{ project.summary_eng }}" data-kor="{{ project.summary_kor }}">
                                            {{ project.summary_eng }}
                                        </p>
                                        <div class="project-desctiption">
                                            <p id="project-role-title" data-eng="My R&R" data-kor="역할 및 책임">My R&R</p>
                                            <p class="project-role-description" id="project-role-description" data-eng="{{ project.role_description_eng }}" data-kor="{{ project.role_description_kor }}">
                                                {{ project.role_description_eng }}
                                            </p>
                                            <p id="project-issue-title" data-eng="Project Details" data-kor="프로젝트 세부">Project Details</p>
                                            <p class="project-issue-description" id="project-issue-description" data-eng="{{ project.issue_description_eng }}" data-kor="{{ project.issue_description_kor }}">
                                                {{ project.issue_description_eng }}
                                            </p>
                                        </div>
                                        <div class="project-link-container">
                                            <div id="project-link">
                                                {% if project.project_link %}
                                                    <a href="{{ project.project_link }}" target="_blank">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                {% else %}
                                                    <i class="fas fa-times" title="No Project Link"></i>
                                                {% endif %}
                                            </div>
                                            <div id="code-link">
                                                {% if project.code_link %}
                                                    <a href="{{ project.code_link }}" target="_blank">
                                                        <i class="fas fa-code"></i>
                                                    </a>
                                                {% else %}
                                                    <i class="fas fa-times" title="No Source Code"></i>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- Other project fields... -->
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="personal">
                    <div id="personalProjectList">
                    {% for project in info.personal_projects %}
                        <div class="personal-project-item">
                            <div class="project-sub-type-date-container">
                                <p id="project-sub-type" data-eng="{{ project.project_sub_type_eng }}" data-kor="{{ project.project_sub_type_kor }}">
                                    {{ project.project_sub_type_eng }}
                                </p>
                                <p id="project-date">
                                    {{ project.start_date }} ~ {{ project.end_date }}
                                </p>
                            </div>
                            <h6 id="project-name" data-eng="{{ project.project_name_eng }}" data-kor="{{ project.project_name_kor }}">
                                {{ project.project_name_eng }}
                            </h6>
                            <p id="project-summary" data-eng="{{ project.summary_eng }}" data-kor="{{ project.summary_kor }}">
                                {{ project.summary_eng }}
                            </p>
                            <div class="project-desctiption">
                                <p id="project-role-title" data-eng="My R&R" data-kor="역할 및 책임">My R&R</p>
                                <p class="project-role-description" id="project-role-description" data-eng="{{ project.role_description_eng }}" data-kor="{{ project.role_description_kor }}">
                                    {{ project.role_description_eng }}
                                </p>
                                <p id="project-issue-title" data-eng="Project Details" data-kor="프로젝트 세부">Project Details</p>
                                <p class="project-issue-description" id="project-issue-description" data-eng="{{ project.issue_description_eng }}" data-kor="{{ project.issue_description_kor }}">
                                    {{ project.issue_description_eng }}
                                </p>
                            </div>
                            <div class="project-link-container">
                                <div id="project-link">
                                    {% if project.project_link %}
                                        <a href="{{ project.project_link }}" target="_blank">
                                            <i class="fas fa-link"></i>
                                        </a>
                                    {% else %}
                                        <i class="fas fa-times" title="No Project Link"></i>
                                    {% endif %}
                                </div>
                                <div id="code-link">
                                    {% if project.code_link %}
                                        <a href="{{ project.code_link }}" target="_blank">
                                            <i class="fas fa-code"></i>
                                        </a>
                                    {% else %}
                                        <i class="fas fa-times" title="No Source Code"></i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <hr>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/ruo_portfolio.js') }}"></script>
</body>
</html>
